


.test{
    color: rgba(255, 0, 0, 0.658);
    position: absolute;
        bottom: 50%;
        left: 50%;
}
.credit {
    color:rgba(255, 255, 255, 0.658);
    margin: auto;
    width: 50%;
    text-align: center;
}
.creditlink{
    color:rgba(255, 255, 255, 0.658);
    position: absolute;
        bottom: 0;
        left: 50%;
}

body {
    font-family: 'Share Tech Mono';font-size: 22px;
    background-color:#121212;
    }

h1 {
    text-align: center;
    color:rgba(255, 255, 255, 0.658);
    }

.TabContainer{
        
}

    .TabContainer .buttonContainer{
        width: 25%;
        height: 25px;
    }




    a:link {
    color: rgba(255, 255, 255, 0.658);
    background-color: transparent;
    text-decoration: none;
    }
    a:visited {
    color: rgba(255, 255, 255, 0.658);
    background-color: transparent;
    text-decoration: none;
    }
    a:hover {
    color: rgba(255, 255, 255, 0.658);
    background-color: transparent;
    text-decoration: none;
    }
    a:active {
    color: rgba(255, 255, 255, 0.658);
    background-color: transparent;
    text-decoration: none;
    }